
<!---form to create or add profile for makeupartist----->


<% if @martist.errors.any? %>
<div class="row">
  <div class="alert alert-danger col-md-8 col-md-offset-2">
    <h5>Please complete your profile:</h5>
      <ul>
        <% @martist.errors.full.messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>  
      </ul>
    
  </div>
</div>
<% end %>
<div class="col-md-2 profile_pix">
  <section class="profile_picture">
    for uploading profile pic
  </section>
</div>

<div class="row">
    <div class= "well col-md-8 col-md-offset-2">
        <%= form_for(@martist, html: { multipart: true}) do |f| %> <!--for picture upload--->
        <%= f.label :lastname %>
        <%=f.text_field :lastname%>
        
        <%= f.label :firstname %>
        <%=f.text_field :firstname %>
        
        
        <%= f.label :username %>
        <%=f.text_field :username %>
        
        <%= f.label :email %>
        <%=f.text_field :email %>
        
        <%= f.label :profile_message %>
        <%=f.text_area :profilemessage, rows:8 %>
        
        <%= f.label :country_located %>
        <%=f.text_field :lastname %>
        
        
        <%= f.label :culture%>
        <%=f.text_field :culture %>
        
        <span class="martistpicture">
          <%= f.file_field :picture, accept: 'image/jpeg, image/gift,image/png'%> <!---field to accept any picture format , remeber to include this field im martist params in martist controller-->
        </span>
        
        <%= f.submit(@martist.new_record? ? 'Create Profile' : 'Edit Profile', class: "btn btn-default" ) %> <!---we only want create recipee to show when a new form is added --->
      <% end %>
    </div>
</div>

<script type="text/javascript">
  $('#martist_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 10) {
      alert('maximum file size is 5MB. Please choose a smaller file');
    }
  });
</script>

<!---heroku come preinstalled with image magick ,but in our development environment , we need to type in the   code 
  sudo apt-get update
  sudo apt-get install imagemagick --fix-missing    
  ---->