<!-- index page for all uploades picrtures---->
<% @photos.each do |photo| %> <!--iterating through each photo in the photos table,  photos is the object, view gets an object passed through it from a controller --->
  <div class="row">

    
    <div class="col-lg-8 well"> 
      <%= link_to photo_path(photo) do %>
     <%= image_tag(photo.picture.url, size: "200x250", class: "img-responsive center-block") if photo.picture? %>
      <% end %>
     <h5><%=link_to photo.martist.username , photo_path(photo)%></h5>
     <p><%= photo.summary %></p>
     
     <p>
         <span class= 'quiet'><small><%= time_ago_in_words(photo.created_at) %> ago</small></span>
     </p>
    </div>   
     
  </div>
  <hr/>
    
<% end %> 

  